<div class="container">
  <div class = "row">
    <div class="jumbotron jumbotron-fluid">
      <h1 class="display-3">Cafe＆Dining　EXAMPLE</h1>
      <p class="lead">since 2010.</p>
      <br>
      <p>Café結婚式、結婚式二次会、各種イベントに対応しています。</p>
      <ul>
        <li>都会チックなiPadでのセルフオーダーシステムを導入しました。</li>  
        <li>ランチの価格を改定しました 値下げ</li>
      </ul>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4">
      <span class="glyphicon glyphicon-earphone" aria-hidden="true" style="font-size:30px;"></span>   000-000-000
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
      <span class="glyphicon glyphicon-home" aria-hidden="true" style="font-size:30px;"></span>   カリブ海〇〇市1-1-5
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
      <span class="glyphicon glyphicon-calendar" aria-hidden="true" style="font-size:30px;"></span>   000-000-000
     </div>
  </div>
</div>

  

               