
<h1>Cafe＆Dining　zero+</h1>


<div class="containerone">
   <h1>BAR</h1>
    <ul>
        <li class="col-sm-3 col-md-3">ナッツ</li>
        <li class="col-sm-3 col-md-3">枝豆</li>
        <li class="col-sm-3 col-md-3">なんこつ</li>
         <li class="col-sm-3 col-md-3">とりかわ</li>
        <li class="col-sm-3 col-md-3">砂ずり</li>
        <li class="col-sm-3 col-md-3">いももと</li>
    </ul>
</div>

<div class="containerblue">
<h1>Lunch</h1>
            <ul>
                <li class="col-sm-3 col-md-3">ミートスパ</li>
                <li class="col-sm-3 col-md-3">鉄板ナポリタン</li>
                <li class="col-sm-3 col-md-3">カルボナーラ</li>
                <li class="col-sm-3 col-md-3">ミソナーラ</li>
                <li class="col-sm-3 col-md-3">ミソナーラ</li>
                
            </ul>
</div>
<div class="containerone">
        <h1>Cafe</h1>
            <ul>
                <li class="col-sm-3 col-md-3">ナッツ</li>
               <li class="col-sm-3 col-md-3">枝豆</li>
                <li class="col-sm-3 col-md-3">なんこつ</li>
                <li class="col-sm-3 col-md-3">とりかわ</li>
                <li class="col-sm-3 col-md-3">砂ずり</li>
                <li class="col-sm-3 col-md-3">いももと</li>
            </ul>
 </div>
<div class="containerblue">
        <h1>Dinner</h1>
            <ul>
                <li class="col-sm-3 col-md-3">ロコモコプレート</li>
                <li class="col-sm-3 col-md-3">もちこプレート</li>
                <li class="col-sm-3 col-md-3">カレー</li>
                <li class="col-sm-3 col-md-3">ピザ</li>
                <li class="col-sm-3 col-md-3">クラムチャウダー</li>
                <li class="col-sm-3 col-md-3">フライドポテト</li>
            </ul>
</div>