// Place all the styles related to the webpages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.containerone{
    margin-top:20px;
    padding-bottom: 100px;
        width: 100%;
            height: 100%;
    background-color:#149bdf;
}

.containerblue{
    margin-top:20px;
    padding-bottom: 100px;
    width: 100%;
    height: 100%;
    color: white;
    background-color:#004679;
}
